// Typogoraphy
$h1-font-size: 55px;
$h2-font-size: 35px;

p {
    font-size: 25px;
}

// Colors
$ob-blue: #2f233b;
$ob-red: #a25e47;
$ob-pink: #c89486;
$ob-pink-light: #d8c9b4;
$ease: 0.3s ease all;

@mixin divider-full {
    width: 100%;
    height: 1px;
    background-color: $ob-pink;
    margin: -15px auto 50px;

}

@mixin header-font {
    font-family: "miller-display", serif;
}

@mixin body-font {
    font-family: 'montserrat', sans-serif;
}

@mixin footer-text {
    font-family: 'montserrat', sans-serif;
    color: $dark-blue;
}

@mixin admin-sticky-fix($offset: 0) {
    $narrow-offset: 46px;
    $wide-offset: 32px;

    @if $offset !=0 and type-of($offset)=="number" {
        $narrow-offset: $narrow-offset + $offset;
        $wide-offset: $wide-offset + $offset;
    }

    .admin-bar & {
        top: $narrow-offset;

        @media screen and (min-width: 783px) {
            top: $wide-offset;
        }
    }
}