#navbarNav {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    display: none;
}

.navbar {
    @media (max-width: 1575px) and (min-width: 991px) {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0 30px !important;
    }
}

.menu-item {
    @include nav-font;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.35rem;
    margin: 0 15px;
    color: $ob-red;
    display: flex;
    align-items: center;

    @media (max-width: 1670px) {
        font-size: 11px;
    }

    @media (max-width: 1224px) {
        &:not(:nth-child()) {
            display: none;
        }
    }
}

.nav-btn {
    a {
        background-color: $ob-pink;
        color: white;
        padding: 12px 25px;
        border-radius: 30px;

        &:hover {
            background-color: $ob-blue;
            color: $ob-pink-light;
        }
    }
}

.hamburger-menu.is-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: 1px solid $ob-blue;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.hamburger-menu.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.is-active .line:nth-child(1) {
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
    right: 0;
}

.hamburger-menu.is-active {
    .line-3 {
        width: 100% !important;
    }

    &:hover {
        .line {
            width: 100% !important;
        }

        &:before {
            opacity: 1;
        }
    }
}

.hamburger-menu.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(90deg);
    -ms-transform: translateY(-7px) rotate(90deg);
    -o-transform: translateY(-7px) rotate(90deg);
    transform: translateY(-7px) rotate(90deg);
    right: 0;
}

.hamburger-menu {
    position: relative;
    padding: 5px;
    display: inline-block;
    height: 100%;
    width: 25px;
    height: 40px;
    margin-left: 15px;

    @include respond-above(lg) {
        &:hover {
            span {
                background-color: $ob-blue;
            }

            .line-1,
            .line-3 {
                right: 50%;
                width: 60%;
                transform: translateX(50%);
            }

            .line-2 {
                right: 0;
                width: 100%;
                background-color: $ob-red;
            }
        }
    }

    &>span {
        width: 25px;
        height: 3px;
        right: 0;
        background: $ob-pink;
        display: block;
        position: absolute;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    & .line-1 {
        top: 11px;
    }

    & .line-2 {
        top: 18px;
        width: 75%;
    }

    & .line-3 {
        top: 25px;
        width: 75%;
    }
}

//
// .modal-open {
//     .navbar.scrolled {
//         background-color: $ob-blue;
//         transition: 0.3s ease;
//         -webkit-box-shadow: 0 10px 22px 0 rgba(0,0,0,0);
//         -moz-box-shadow: 0 10px 22px 0 rgba(0,0,0,0);
//         box-shadow: 0 10px 22px 0 rgba(0,0,0,0);
//     }
// }
//

.navbar {
    &.scrolled {
        background-color: $ob-blue;
        -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
        -moz-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
        box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.54);
        transition: 0.3s ease;
        padding: 10px 60px;

        .menu-item {
            color: white;
            font-size: 12px;
        }

        @include respond-above(lg) {
            .hamburger-menu {

                &:hover {

                    .line-1,
                    .line-3 {
                        background-color: white;
                    }

                    .line-2 {
                        background-color: $ob-pink-light;
                    }


                }
            }
        }

        .navbar-brand {
            transition: .3s ease all;
            transform: translateY(0);

            svg {
                width: 100px;
                transition: 0.3s ease all;

                .st0 {
                    fill: white;
                }
            }
        }
    }
}

.navbar {
    padding: 25px 60px;
    width: 100%;
    z-index: 9999;
    transition: 0.3s ease;
    position: fixed;
    top: 0;

    @include respond-below(md) {
        padding: 3%;
    }

    .navbar-brand {
        svg {
            width: 150px;
            transition: 0.3s ease all;
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        @include respond-below(md) {
            width: 65%;
            padding-right: 3%;
        }

        .contact-title {
            text-transform: uppercase;
            @include body-font;
            font-weight: 600;
            color: white;
            margin: 0 5px;

            @include respond-below(md) {
                display: none;
            }

            a {
                &:hover {
                    color: $ob-blue;
                }
            }
        }

        .nav-btn-wrapper {
            margin: 0 5px;

            @include respond-below(md) {
                margin: 0 28px;
            }

            .btn {
                @include respond-below(md) {
                    font-size: 12px;
                    padding: 8px 17px;
                }

                @include respond-above(lg) {
                    &:hover {
                        padding: 8px 30px;
                        color: $ob-blue;
                        background-color: white;
                    }
                }
            }
        }

        .nav-divider {
            height: 35px;
            width: 2px;
            background-color: white;
            margin: 0 20px;

            @include respond-below(md) {
                display: none;
            }
        }
    }
}


//
// .modal-open {
//     .navbar {
//         .nav-right {
//             .hamburger-menu {
//                 .line-1,
//                 .line-2,
//                 .line-3 {
//                     background-color: $ob-blue;
//                 }
//
//                 &:hover {
//                     .line-2,
//                     .line-3 {
//                         right: 0;
//                     }
//                 }
//
//                 .line-1 {
//                     top: 50%;
//                     transform: rotate(-45deg);
//                 }
//
//                 .line-2 {
//                     opacity: 0;
//                     transform: translateX(2px);
//                     right: 0;
//                 }
//
//                 .line-3 {
//                     top: 50%;
//                     transform: rotate(45deg);
//                     width: 25px;
//                     right: 0;
//                 }
//             }
//         }
//     }
// }
//
// #nav-menu {
//     height: 100vh;
//
//     .modal-dialog {
//         max-width: 100%;
//         height: 100%;
//         margin: 0;
//
//         .modal-content {
//             width: 100%;
//             height: 100%;
//             background-color: $ob-blue;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//
//             .nav-grid-wrapper {
//                 height: 60%;
//                 display: flex;
//                 width: 80%;
//                 @include respond-below(lg) {
//                     flex-wrap: wrap;
//                 }
//
//                 .nav-grid {
//                     margin: 0 50px;
//                     width: 30%;
//                     @include respond-below(lg) {
//                         width: 100%;
//                         margin: 0 0 20px;
//                     }
//
//                     h2 {
//                         color: white;
//                         font-size: 44px;
//                         margin-bottom: 50px;
//                         text-align: center;
//                         transition: 0.3s ease;
//                         @include respond-below(lg) {
//                             font-size: 22px;
//                             margin-bottom: 0;
//                         }
//                         /*&:hover {
//                             color: $clutch-orange;
//                             transition: 0.3s ease;
//                         }*/
//                     }
//
//                     .menu-items {
//                         ul {
//                             margin: 0;
//
//                             li {
//                                 margin: 30px 0;
//                                 font-family: 'sweet-sans-pro', sans-serif;
//                                 font-size: 18px;
//                                 text-align: center;
//                                 color: $ob-blue;
//                                 text-transform: uppercase;
//                                 @include respond-below(lg) {
//                                     font-size: 12px;
//                                     margin: 15px 0;
//                                 }
//
//                                 &:hover {
//                                     color: $ob-blue;
//                                     transition: 0.3s ease;
//                                     cursor: pointer;
//                                 }
//
//                                 a {
//                                     padding: 10px;
//                                     position: relative;
//                                     // &:after {
//                                     //     position: absolute;
//                                     //     content: "";
//                                     //     width: 100%;
//                                     //     height: 100%;
//                                     //     background-color: $clutch-purple-dark;
//                                     //     left: 0;
//                                     //     bottom: 0;
//                                     // }
//                                     &:hover {
//                                         color: $ob-blue;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//
//                 .nav-divider {
//                     height: 75%;
//                     width: 2px;
//                     background-color: $ob-blue;
//                     @include respond-below(lg) {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }       }
//     }
// }/ } 